*.db
*.Identifier
*.pyc

# results, output, pretrained_model
output/
utils/invsfm/wts/
utils/invsfm/tf2torch/layer_data/
result/

# Poselib setting
PoseLib/*
!PoseLib/PoseLib/
!PoseLib/CMakeLists.txt
# !PoseLib/pybind/*
!PoseLib/pybind/pyposelib.cpp

# eigen
eigen-3.4.0/
eigeb-3.4.0.tar.gz/