*.db
*.Identifier
*.pyc
.vscode/

# Dataset sample
sample/

# Results, output, pretrained_model
output/
result/
utils/invsfm/wts/
utils/invsfm/tf2torch/layer_data/

# Poselib setting
PoseLib/*
!PoseLib/PoseLib/
!PoseLib/CMakeLists.txt
!PoseLib/pybind/pyposelib.cpp

# Eigen
eigen-3.4.0/
eigeb-3.4.0.tar.gz/